---
import ExperienciaItem from "./ExperienciaItem.astro"

const EXPERIENCIE = [
    {
        date: 'Actualmente...',
        title: 'Desarrollador Frontend en pagina web GalenoSofa',
        description: 'En GalenoSofa, transformamos espacios en verdaderos hogares. Ofrecemos una selección única de muebles diseñados para combinar estilo, comodidad y funcionalidad. Desde elegantes sofás y mesas hasta soluciones de almacenamiento inteligentes, nuestros productos están fabricados con materiales de alta calidad y un enfoque en la durabilidad.',
    },
    {
        date: 'Diciembre 2023',
        title: 'Desarrollador Frontend en aplicacion web Axiora',
        description: 'Axiora es un SaaS que ayuda a los propietarios de tiendas de comercio electrónico de Latinoamérica a vender en diferentes mercados y plataformas de comercio electrónico, como Shopify y Mercadolibre, sincronizando sus ventas e inventario para ayudarlos a concentrarse en sus necesidades comerciales, dejando que Axiora se encargue de los desafíos integración. ',
        link: '#',
    },
    {
        date: 'Abril 2023',
        title: 'Diseñador gráfico en Arte laser Corte y grabado ',
        description: 'Arte Láser cuenta con amplia experiencia en el corte y grabado en diferentes materiales; Nuestra capacidad de producción se adapta a la escala que usted necesita, desde trabajos unitarios hasta grandes cantidades.',
    },
]
---


<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienciaItem {...experience} />
        </li>
        ))
    }
</ol>
